<div class="ui inverted masthead centered segment">
  <div class="ui page grid">
    <div class="column">

      <div class="ui secondary pointing menu">
        <a class="active item">
          <i class="flaticon-home"></i> Home
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">

            </div>

          </div>
          <a class="ui item">
            Logout
          </a>
        </div>
      </div>

      <div class="ui hidden transition information">
        <h1 class="ui inverted centered header">
          SNS
        </h1>

        <p class="ui centered lead">

        </p>

        <a href="/users/sign_up" class="large basic inverted animated fade ui button">
          <div class="visible content">Register Now</div>
          <div class="hidden content">Register Now</div>
        </a>
        <div class="ui centerted image">
          <img src="images/banner.png" />
        </div>

      </div>
    </div>
  </div>
</div>

<div class="ui vertical feature segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column column-feature">
          <div class="ui icon header">
            <i class="flaticon-connecting icon"></i>
            Review
          </div>
          <p>

          </p>

          <p>
            <a class="ui button" href="/photos/index">
              Review
            </a>
          </p>

        </div>

        <div class="column column-feature">
          <div class="ui icon header">
            <i class="flaticon-calendar icon"></i>
            Cafe List
          </div>
          <p>

          </p>

          <p>
            <a class="ui green right labeled icon button" href="/user_locations">
              Cafe List
              <i class="right flaticon-move icon"></i>
            </a>
          </p>

        </div>

        <div class="column column-feature">
          <div class="ui icon header">
            <i class="flaticon-speech icon"></i>
            Community
          </div>
          <p>

          </p>

          <p>
            <a class="ui button" href="/articles/show">
              Share
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="ui recent-works vertical segment">
  <div class="ui very relaxed stackable centered page grid">
    <div class="row">
      <div class="eight wide centered column">
        <h1 class="center aligned ui inverted header">

        </h1>
        <div class="ui horizontal divider">
          <i class="white flaticon-camera icon">

          </i>
        </div>

      </div>
    </div>
    <div class="fourteen wide column">
      <div class="ui three column aligned stackable divided grid">

        <div class="column">

        </div>

      </div>
    </div>
  </div>
</div>

<div class="ui inverted footer vertical segment center">
  <div class="ui stackable center aligned page grid">
    <div class="four column row">

    </div>
  </div>
</div>
